<div class="col">

  <div class="card h-100 shadow">
    <img class="card-img-top" [src]="restaurant.image" [routerLink]="['/restaurants', restaurant.id]" routerLinkActive="router-link-active"  >
    <div class="card-body">
      <button class="btn btn-danger btn-sm float-end"
        (click)="confirmDeleted()"
        *ngIf="restaurant.mine"
        >
        Delete
      </button>
      <h4 class="card-title">
        <span *ngIf="isDetail; then thenBlock else elseBlock"></span>
      </h4>
      <p class="card-text">{{restaurant.description}}</p>
      <div class="card-text">
        <small class="text-muted">
          <strong>Opens: </strong>
          <span *ngFor="let day of restaurant.daysOpen">
            {{days[+day]}}
          </span>
        </small>
        <span class="badge ms-2"
          [ngClass]="{ 'bg-success': restaurant.daysOpen.indexOf(weekDay.toString()) >= 0,
                      'bg-danger': restaurant.daysOpen.indexOf(weekDay.toString()) < 0 }">
          {{ restaurant.daysOpen.indexOf(weekDay.toString()) >= 0 ? "Open" : "Close" }}
        </span>
      </div>
      <div class="card-text">
        <small class="text-muted">
          <strong>Phone: </strong>{{restaurant.phone}}
        </small>
      </div>
    </div>
    <div class="card-footer">
      <small class="text-muted">{{restaurant.cuisine}}</small>
    </div>
  </div>
</div>



<ng-template #thenBlock>{{restaurant.name}}</ng-template>
<ng-template #elseBlock><a [routerLink]="['/restaurants', restaurant.id]">{{restaurant.name}}</a></ng-template>
