
    <form (ngSubmit)="addRestaurant()" [formGroup]="restForm" action="#" class="mt-4" id="newRestaurant">
      <div class="mb-3">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          name="name"
          placeholder="Enter name"
          formControlName="nameForm"
          [ngClass]="validClasses(nameControl, 'is-valid','is-invalid')">
        <div *ngIf="nameControl.errors?.['required'] && nameControl.touched"
          class="invalid-feedback">The name is required.</div>
        <div *ngIf="nameControl.errors?.['pattern'] && nameControl.touched"
          class="invalid-feedback">Name is required and can only contain letters and spaces.</div>
      </div>
      <div class="mb-3">
        <label for="description">Description</label>
        <textarea
          class="form-control"
          id="description"
          name="description" rows="3"
          placeholder="Description"
          formControlName="descForm"
          [ngClass]="validClasses(descControl, 'is-valid','is-invalid')"></textarea>
        <div class="invalid-feedback">Description is required.</div>
      </div>
      <div class="mb-3">
        <label for="cuisine">Cuisine</label>
        <input
          type="text"
          class="form-control"
          name="cuisine"
          id="cuisine"
          placeholder="Cuisine"
          formControlName="cuisineForm"
          [ngClass]="validClasses(cuisineControl,'is-valid','is-invalid')">
        <div class="invalid-feedback">Cuisine is required.</div>
      </div>
      <p>Opening days</p>
      <div formArrayName="daysForm" class="mb-3" oneChecked>
        <div class="form-check form-check-inline" *ngFor="let day of days; let i = index">
          <input
            type="checkbox"
            class="custom-control-input"
            id="checkDay{{i}}"
            name="days"
            formControlName="{{i}}">
          <label class="custom-control-label ms-2" for="checkDay{{i}}">{{day}}</label>
        </div>
        <!--<div class="text-danger" *ngIf="daysControl.hasError('oneCheckedError')">-->
          <div class="text-danger" *ngIf="daysControl.invalid && daysControl.touched">
          <small>You must choose at least 1 day.</small>
        </div>
      </div>
      <div class="mb-3">
        <label for="phone">Phone number</label>
        <input
          type="text"
          class="form-control"
          id="phone"
          name="phone"
          pattern="(\+?[0-9]2 ?)?[0-9]{9}"
          placeholder="Phone number"
          formControlName="phoneForm"
          [ngClass]="validClasses(phoneControl,'is-valid','is-invalid')">

        <div *ngIf="phoneControl.errors?.['required'] && phoneControl.touched"
          class="invalid-feedback">The phone number is required.</div>
        <div *ngIf="phoneControl.errors?.['pattern'] && phoneControl.touched"
          class="invalid-feedback">Phone must have 9 numbers.</div>
      </div>
      <div class="mb-3">
        <label for="image">Main photo</label>
        <input
          type="file"
          #fileImage
          class="form-control"
          id="image"
          name="image"
          (change)="changeImage(fileImage)"
          formControlName="imageForm"
          [ngClass]="validClasses(imageControl, 'is-valid','is-invalid')">
        <div class="invalid-feedback">An image is required.</div>
      </div>
      <img [src]="newRestaurant.image" [ngClass]="{'d-none': !newRestaurant.image}" alt="" id="imgPreview" class="img-thumbnail mb-3">

      <div>
        <button type="submit" [disabled]="restForm.invalid" class="btn btn-primary">Create</button>
      </div>
    </form>
