<html>

<head>
  <title>Exercise 8</title>
  <meta charset="UTF-8">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">FoodScore</a>
    </div>
  </nav>

  <div class="container">

    <fs-restaurant-form (insert)="addRestaurant($event)"></fs-restaurant-form>

    <hr class="mt-4 mb-4">

    <div>
      <nav class="navbar navbar-light bg-light justify-content-between mt-3">
        <ul class="nav nav-pills col-auto ms-3">
          <li class="nav-item">
            <a class="nav-link" (click)="toggleOnlyOpen()" [ngClass]="{'active': onlyOpen}">Show open</a>
          </li>
        </ul>
        <form class="container-fluid col">
          <input class="form-control" type="text" name="search" placeholder="Search" aria-label="Search" [(ngModel)]="filterSearch">
        </form>
      </nav>
    </div>

    <div id="placesContainer" class="mb-4 mt-2 row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4" *ngIf="restaurants && restaurants.length; else noRestaurants">
      <fs-restaurant-card [restaurant]="restaurant" *ngFor="let restaurant of restaurants | restaurantFilter : filterSearch : onlyOpen" (deleted)="onDeleted(restaurant)" ></fs-restaurant-card>
    </div>
    <ng-template #noRestaurants>
      <p class="mt-4">There are no restaurants to show</p>
    </ng-template>
  </div>

  <script src="exercise2.js"></script>
</body>

</html>


